* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    color:#222;
    background-color:#f0f4ff;
}
header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.25);
    position: fixed;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    align-items: center;
    z-index: 100;
    top: 0;
    backdrop-filter: blur(12px);
}
.logo {
    color: #2c4df7;
    font-size: 22px;
    font-weight: 800;
}
nav a {
    text-decoration: none;
    color:black;
    transition: .3s;
    font-weight: 500;
}
nav a:hover {
    color:#2c4df7;
}
nav {
    display:flex;
    gap:12px;
}
.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f') center/cover no-repeat;
    display:flex;
    align-items: center;
    padding-left: 70px;
}
.hero-content {
    height:300px;
    width:500px;
    background: rgba(255,255,255,0.25);
    border-radius: 20px;
    padding:40px;
    backdrop-filter: blur(10px);
    max-width: 500px;
}
.hero-content .cta {
    background-color: #2c4df7;
    color:white;
    padding:12px 25px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s;
}
.hero-content .cta:hover {
    background-color: blue;
}
.about-us, .academics-section {
    text-align: center;
    margin-top: 50px;
}
.cards, .levels  {
    display: flex;
    gap:30px;
    justify-content: center;
}
.card, .level {
    margin-top: 30px;
    padding:25px;
    width:250px;
    background-color:rgba(255,255,255,0.35);
    backdrop-filter: blur(10px);
    box-shadow:0 8px 25px rgba(0,0,0,0.1) ;
    border-radius: 20px;
    transition: 0.4s;
    margin-bottom: 100px;
}
.card:hover, .level:hover  {
    transform: translateY(-10px);
}
.program-section {
    text-align: center;
}
.program-section h2 {
    margin-bottom: 10px;
}
.program-intro  {
    opacity: 0.7;
    color:black;
}
.programs {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
}
.program-box {
    width:400px;
    color:#222;
    overflow: hidden;
    border-radius:20px ;
    border: 1px solid #222;
    background-color:rgba(255,255,255,0.35);
    backdrop-filter: blur(10px);
    box-shadow:0 8px 25px rgba(0,0,0,0.1) ;
}
.program-img {
    overflow: hidden;
    width:400px;
    color:#222;
}
.program-box img {
    width: 100%;
    border-radius:20px 20px 0px 0px;
    transition: 0.5s;
    height:200px;
}
.program-box img:hover {
    transform: scale(1.2);
    border-radius:20px 20px 0px 0px;
}
.program-info,.program p {
    color:black;
    padding:20px;
}
.project-box p,h2 {
    font-weight: bolder;
}
.contact-sec h2 {
    margin-top: 200px;
    text-align: center;
}
.contact-sec p {
    text-align: center;
    margin-bottom: 200px;
}
footer {
    background: #2c4df7;
    height:80px;
    color:white;
    font-weight: bolder;
    padding:25px;
    text-align: center;
}